node_red_identify_car_plate_and_model.txt
[{"id":"b75c360b.5cfb68","type":"exec","z":"edbc86db.6e9fb8","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=Your_Secret_Key&recognize_vehicle=1&country=eu&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":744.5,"y":1823,"wires":[["90e5a95a.7db098"],[],[]]},{"id":"90e5a95a.7db098","type":"json","z":"edbc86db.6e9fb8","name":"JSON","pretty":false,"x":891,"y":1810.5,"wires":[["507a78d0.68c218"]]},{"id":"76990845.65cb78","type":"camerapi-takephoto","z":"edbc86db.6e9fb8","filemode":"1","filename":"car-photo.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Photo","x":578.5,"y":1824,"wires":[["b75c360b.5cfb68"]]},{"id":"507a78d0.68c218","type":"debug","z":"edbc86db.6e9fb8","name":"","active":true,"console":"false","complete":"false","x":1042.5,"y":1810,"wires":[]},{"id":"9ba2e4d7.b859a8","type":"inject","z":"edbc86db.6e9fb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":422,"y":1824,"wires":[["76990845.65cb78"]]}]
