node_red_identify_car_plate_and_trigger_event.txt
[{"id":"d2b7852a.b05618","type":"exec","z":"edbc86db.6e9fb8","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=Your_Secret_Key&recognize_vehicle=1&country=eu&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":731,"y":1317,"wires":[["1ffd9483.014b3b"],[],[]]},{"id":"1ffd9483.014b3b","type":"json","z":"edbc86db.6e9fb8","name":"JSON","pretty":false,"x":882.5,"y":1332.5,"wires":[["9753406b.6d08e","5f3c3d58.fd75e4"]]},{"id":"9753406b.6d08e","type":"function","z":"edbc86db.6e9fb8","name":"Identify Car","func":"var carPlate = \"YOUR_CAR_PLATE\";\nvar carModel = \"YOUR_CAR_MODEL\";\n\n//No car or car plate found in photo\nif(msg.payload.results.length === 0) {\n    msg.payload=0;\n    global.set(\"garageOpen\",\"0\");  \n}\n//If car plate and car model match\nelse if(msg.payload.results[0].plate==carPlate && msg.payload.results[0].vehicle.make_model[0].name==carModel) {\n    msg.payload=1;\n    global.set(\"garageOpen\",\"1\");  \n}\n//If car plate and car model don't match\nelse {\n    msg.payload=0;   \n    global.set(\"garageOpen\",\"0\");  \n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":292,"y":1521.5,"wires":[["8b530f08.a5dbf"]]},{"id":"3630c78a.035728","type":"camerapi-takephoto","z":"edbc86db.6e9fb8","filemode":"1","filename":"car-photo.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Photo","x":565,"y":1318,"wires":[["d2b7852a.b05618"]]},{"id":"8b530f08.a5dbf","type":"switch","z":"edbc86db.6e9fb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":432.5,"y":1520,"wires":[["c2bbe2ac.f26ea","8fe08deb.7255e"],["491dea2b.a14d54"]]},{"id":"5f3c3d58.fd75e4","type":"debug","z":"edbc86db.6e9fb8","name":"","active":true,"console":"false","complete":"false","x":1028,"y":1297,"wires":[]},{"id":"4e5c105d.14285","type":"rpi-gpio in","z":"edbc86db.6e9fb8","name":"GPIO4","pin":"7","intype":"tri","debounce":"25","read":false,"x":111,"y":1359,"wires":[["af21a185.21cd4"]]},{"id":"73147f6a.0129e","type":"switch","z":"edbc86db.6e9fb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":418,"y":1359,"wires":[["3630c78a.035728"],["691d92c5.692d5c"]]},{"id":"af21a185.21cd4","type":"function","z":"edbc86db.6e9fb8","name":"Is Garage Open","func":"var garageOpen = global.get(\"garageOpen\"); \n\nif(garageOpen == \"1\"){\n    msg.payload = 1;\n}\nelse {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":261.5,"y":1359,"wires":[["73147f6a.0129e"]]},{"id":"c2bbe2ac.f26ea","type":"rpi-gpio out","z":"edbc86db.6e9fb8","name":"GPIO17","pin":"11","set":"","level":"0","freq":"","out":"out","x":919.5,"y":1469,"wires":[]},{"id":"8fe08deb.7255e","type":"delay","z":"edbc86db.6e9fb8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":1528,"wires":[["f2cc1ee4.e9841"]]},{"id":"f2cc1ee4.e9841","type":"function","z":"edbc86db.6e9fb8","name":"Close Garage","func":"msg.payload=0;   \nglobal.set(\"garageOpen\",\"0\"); \nreturn msg;\n\n","outputs":1,"noerr":0,"x":770,"y":1528,"wires":[["c2bbe2ac.f26ea"]]},{"id":"691d92c5.692d5c","type":"debug","z":"edbc86db.6e9fb8","name":"","active":true,"console":"false","complete":"false","x":558,"y":1366,"wires":[]},{"id":"491dea2b.a14d54","type":"debug","z":"edbc86db.6e9fb8","name":"","active":true,"console":"false","complete":"false","x":607,"y":1585,"wires":[]}]
